@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default transparent scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
    height: 8px; /* Adjust height for horizontal scrollbars */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Transparent track by default */
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Transparent thumb by default */
    border-radius: 4px; /* Optional: Rounded corners */
  }
  
  /* Show scrollbar when hovering over the container */
  .scroll-container:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* Visible thumb on hover */
  }
  
  .scroll-container:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6); /* Darker thumb when hovering the scrollbar itself */
  }